<footer class="page-footer font-small mt-4 wow fadeIn">
  {% load static %}
  <link href="{% static 'css/footer.css' %}" type="text/css" rel="stylesheet">
  <div class="footerContainer">
    <div class="col-md-6 leftDivision">
      <div class="contactUsTxt">Contact Us</div>
      <div>Desasiswa Tekun, MO5, Universiti Sains Malaysia 11800 USM Penang, Malaysia</div>
      <div>Tel: 018-3723235</div>
      <div><a href="mailto:usmshop2020@gmail.com">Email: usmeshop2020@gmail.com</a></div>
    </div>

    <hr class="horizontalLine">

    <div class="col-md-6 rightDivision">
       Copyright  ©  Universiti Sains Malaysia 2020
    </div>
    <!-- <hr class="my-4"> class="footer-copyright py-3" class="pb-4"-->
  </div>
</footer>